{#
The certificate bodies need to have "\n" in place of line feeds in order to meet JSON string formatting requirements.
Reading a certificate file and doing the substitution would be part of the calling play.
#}
{
    "metadata": {
        "name": "{{ certificate_name }}",
        "displayName": "{{ certificate_displayname }}",
        "description": "{{ certificate_description }}"
{% if tags[0] is defined %}
        "tags": [
{% for tag in tags %}
            "{{ tag }}"{% if not loop.last %},
{% endif %}
{% endfor %}{{ '' }}
        ]
{% endif %}
    },
    "desiredState": {
        "type": "{{ certificate_type }}",
{% if certificate_type == "PEM" %}
        "privateKey": "{{ certificate_privateKey }}",
        "publicCert": "{{ certificate_publicCert }}"
{% if certificate_password is defined %}
        , "password": "{{ certificate_password }}",
{% endif %}
{% if ca_certificates[0] is defined %}
        , "caCerts": [
{% for ca_certificate in ca_certificates %}
            "{{ ca_certificate }}"{% if not loop.last %},
{% endif %}
{% endfor %}{{ '' }}
        ]
{% endif %}
{% elif certificate_type == "PKCS12" %}
        "password": "{{ certificate_password }}",
        "data": "{{ certificate_pkcs12_data }}"
{% elif certificate_type == "LOCAL_FILE" %}
        "privateKey": "{{ certificate_privateKey }}",
        "publicCert": "{{ certificate_publicCert }}"
{% endif %}
    }
}
