{# 
The certificate bodies need to have "\n" in place of line feeds in order to meet JSON string formatting requirements.
Reading a certificate file and doing the substitution would be part of the calling play.
#}
{
    "metadata": {
        "displayName": "{{certificate_displayname}}",
        "description": "{{certificate_description}}"
    },
    "desiredState": {
        "type": "{{certificate_type}}"
{% if certificate_type == "PEM" %}
        "privateKey": "{{certificate_privateKey}}",
        "password": "{{certificate_password}}",
        "publicCert": "{{certificate_publicCert}}",
        "caCerts": [
            "{{ca_certificates}}"
        ]
{% elif certificate_type == "PKCS12" %}
        "password": "{{certificate_password}}",
        "data": "{{certificate_pkcs12_data}}"
{% elif certificate_type == "LOCAL_FILE" %}
        "privateKey": "{{certificate_privateKey}}",
        "publicCert": "{{certificate_publicCert}}"
{% endif %}
    }
}